name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      - name: GenJavadoc
        run: mvn javadoc:javadoc
        working-directory: ./ioprojectarchitecture/ioprojectarchitecture

      - name: Upload Javadoc
        uses: actions/upload-artifact@v3
        with:
          name: javadoc
          path: ./ioprojectarchitecture/ioprojectarchitecture/target/site/apidocs

      - name: Build
        run: mvn -B clean package
        working-directory: ./ioprojectarchitecture/ioprojectarchitecture

      - name: Upload jar
        uses: actions/upload-artifact@v3
        with:
          name: application
          path: ./ioprojectarchitecture/ioprojectarchitecture/target/*.jar

        
